<?xml version="1.0" encoding="utf-8"?>
<System IsProtected="false">
  <Configs>
    <AppSettings>
      <!--<UploadServiceUrl>http://localhost:8203/portalservices/UploadService.svc</UploadServiceUrl>-->
      <UploadFolder>D:\Projects\PIS\tmp\uploadfoler</UploadFolder>
      <!--<AppProvider>PIS.AutoEnt.Web.WebAppProvider, PIS.AutoEnt.Web</AppProvider>-->
      <AppProvider>PIS.AutoEnt.Framework.Tests.TestAppProvider, PIS.AutoEnt.Framework.Tests</AppProvider>
      <ScheduleServiceProvider>PIS.AutoEnt.Portal.ServicesProvider.ScheduleServiceProvider, PIS.AutoEnt.Portal.ServicesProvider</ScheduleServiceProvider>
      <PortalVirtualPathProvider>PIS.AutoEnt.Portal.Web.VirtualPathProvider.Ext.ExtPortalVirtualPathProvider, PIS.AutoEnt.Portal.Web.VirtualPathProvider.Ext</PortalVirtualPathProvider>
      <License>../../license.config</License>
    </AppSettings>
    <ConnectionStrings>
      <!--<Framework>metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PisBJXZ_Framework;user id=sa;password=sasa;multipleactiveresultsets=True;App=EntityFramework&quot;</Framework>-->
      <Framework>Data Source=(local);Initial Catalog=AutoEnt;User ID=sa;Password=sasa;Persist Security Info=True</Framework>
      <Business>Data Source=(local);Initial Catalog=AutoEntBiz;User ID=sa;Password=sasa;Persist Security Info=True</Business>
      <Temporary>Data Source=(local);Initial Catalog=AutoEntTemp;User ID=sa;Password=sasa;Persist Security Info=True</Temporary>
      <!--<System>metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PIS_Framework;user id=sa;password=sasa;multipleactiveresultsets=True;App=EntityFramework&quot;</System>-->
    </ConnectionStrings>
    <ConfigSection>
      <Section Name="Log" Type="PIS.AutoEnt.Config.LogConfig, PIS.AutoEnt" />
      <Section Name="Caching" Type="PIS.AutoEnt.Config.CacheConfig, PIS.AutoEnt" />
      <Section Name="Services" Type="PIS.AutoEnt.Config.ServiceConfig, PIS.AutoEnt" />
      <Section Name="ThirdParties" Type="PIS.AutoEnt.Config.ThirdPartyConfig, PIS.AutoEnt" />
    </ConfigSection>
    <ConfigData>
      <Log>
        <Log4net>
          <log4net>
              <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
                <param name="File" value="app.log" />
                <param name="AppendToFile" value="true" />
                <layout type="log4net.Layout.PatternLayout">
                  <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
                </layout>
              </appender>
              <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
                <param name="File" value="app.log" />
                <param name="AppendToFile" value="true" />
                <param name="RollingStyle" value="Composite" />
                <param name="DatePattern" value="yyyyMMdd" />
                <param name="MaxSizeRollBackups" value="10" />
                <param name="MaximumFileSize" value="1MB" />
                <layout type="log4net.Layout.PatternLayout">
                  <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
                </layout>
                <filter type="log4net.Filter.LevelRangeFilter">
                  <param name="LevelMin" value="DEBUG" />
                  <param name="LevelMax" value="WARN" />
                </filter>
              </appender>
              <root>
                <level value="DEBUG" />
              </root>
              <logger name="Default">
                <level value="DEBUG" />
                <appender-ref ref="LogFileAppender" />
              </logger>
            </log4net>
        </Log4net>
      </Log>
      <Caching>
        <System CacheProvider="PIS.AutoEnt.Caching.MemoryCacheProvider, PIS.AutoEnt.Framework">
          <!-- 默认缓存配置，过期时间为1小时 -->
          <Default SlidingExpiration="01:00:00" />
          <!-- UserSession缓存配置，过期时间为20分钟（客户端20分钟内无动静，将自动从缓存中移除） -->
          <UserSession SlidingExpiration="00:20:00" />
        </System>
      </Caching>
      <Services>
        <SysServiceHost MaxConcurrentCalls="100" MaxConcurrentInstances="100" MaxConcurrentSessions="100"></SysServiceHost>
        <!-- UserSessionService配置，Session刷新时间为100秒，用户Session过时时间为100分钟，客户端过时时间（客户端20分钟内无动静）为20分钟 -->
        <UserSession ScanInterval="100" TimeOut="100" ClientTimeOut="20" />
      </Services>
      <ThirdParties>
        <NHibernate SerializedFilePath="nhibernate.serilized.config">
          <SessionFactory IsDefault="true" IsLazyLoad="true">
            <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
              <!-- an ISessionFactory instance -->
              <session-factory>
                <!-- properties -->
                <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
                <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
                <property name="connection.connection_string">Server=(local);DataBase=PIS_Framework;User ID=sa;Password=sasa;Persist Security Info=True</property>
                <property name="show_sql">false</property>
                <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
                <property name="current_session_context_class">web</property>
              </session-factory>
            </hibernate-configuration>
          </SessionFactory>
          
          <SessionFactory Name="PICTemp" IsLazyLoad="true">
            <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
              <session-factory>
                <!-- properties -->
                <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
                <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
                <property name="connection.connection_string">Server=(local);DataBase=PIS_Temporary;User ID=sa;Password=sasa;Persist Security Info=True</property>
                <property name="show_sql">false</property>
                <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
                <property name="current_session_context_class">web</property>
              </session-factory>
            </hibernate-configuration>
          </SessionFactory>
        </NHibernate>
        <Windsor>
          <installers>
          </installers>
        </Windsor>
      </ThirdParties>
    </ConfigData>
  </Configs>
</System>