@model PIS.AutoEnt.Web.Mvc.PortalViewModel

@if (Request.IsAuthenticated)
{
<div class="app-panel">
    <div class="app-panel-tabs easyui-tabs">
        <div class="app-panel-modules" title="所有">  
            <ul>
                <li>  
                    Catalogue
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-address.png" />
                        <div>  
                            <p>Module 1</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-blog.png" />
                        <div>  
                            <p>Module 2</p>  
                            <p>Description</p>   
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-bug.png" />
                        <div>  
                            <p>Module 3</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-chat.png" />
                        <div>  
                            <p>Module 4</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-group.png" />
                        <div>  
                            <p>Module 5</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-more.png" />
                        <div>  
                            <p>Module 6</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-notes.png" />
                        <div>  
                            <p>Module 7</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-user.png" />
                        <div>  
                            <p>Module 8</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add.png" />
                        <div>  
                            <p>Module 9</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/address-book.png" />
                        <div>  
                            <p>Module 10</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
            </ul>  
        </div>
        <div class="app-panel-modules" title="知识库"> 
            <ul>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-address.png" />
                        <div>  
                            <p>Module 1</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-blog.png" />
                        <div>  
                            <p>Module 2</p>  
                            <p>Description</p>   
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-notes.png" />
                        <div>  
                            <p>Module 7</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
            </ul>
        </div>
        <div class="app-panel-modules" title="个人设置"> 
            <ul>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add-user.png" />
                        <div>  
                            <p>Module 8</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
                <li>  
                    <a href="#" class="app-panel-item">  
                        <img src="~/Images/shared/thumbnails/add.png" />
                        <div>  
                            <p>Module 9</p>  
                            <p>Description</p>  
                        </div>  
                    </a>  
                </li>
            </ul>
        </div>
        <div class="app-panel-modules" title="其他"> 
        </div>
    </div>
</div>
}
