<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PIS" type="PIS.Config.ConfigHandler, PIS.Core"/>
  </configSections>

  <appSettings>
    <add key="Test" value="Test"/>
  </appSettings>

  <PIS>
    <System Source="..\..\pis.sys.new.config"/>
  </PIS>
</configuration>